In [1]:
import sys
#add the path were the models are
sys.path.append("../inProduction/")
sys.path.append("../main/")
import pandas as pd
import numpy as np
from functools import reduce
from modelos import SIR, EXP, SEIR_PSO
from bootstrap import bootstrapTS as bsTS
import matplotlib.pyplot as plt
#set default theme for plts
import time

In [2]:
ci = bsTS()

In [3]:
data = pd.read_csv("../data/dadosCovid.csv")
data.head()

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,2020-01-30,0,0,0,0
1,Norte,RO,2020-01-31,0,0,0,0
2,Norte,RO,2020-02-01,0,0,0,0
3,Norte,RO,2020-02-02,0,0,0,0
4,Norte,RO,2020-02-03,0,0,0,0

In [4]:
#Select only Sao Paulo
sp = data[data["estado"] == "SP"]
#Remove missing values to not crash the intervals
sp = sp.dropna()
sp.head()

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
1501,Sudeste,SP,2020-02-26,1,1,0,0
1502,Sudeste,SP,2020-02-27,0,1,0,0
1503,Sudeste,SP,2020-02-28,0,1,0,0
1504,Sudeste,SP,2020-02-29,1,2,0,0
1505,Sudeste,SP,2020-03-01,0,2,0,0

In [5]:
#create a series with the cummulative number of cases
y = np.array(sp["casosAcumulados"])

#Give the number of days since the day of first case confirmed
x = range(0,len(sp["casosAcumulados"]))

<h1>Exponencial Model</h1>

In [6]:
exp = EXP(50000000)

In [7]:
results = ci.single_core_CI(model = exp, 
                            y = y, 
                            x = x, 
                            ndays = 110,
                            bootstrap = 20, 
                            simulation = "Gamma_Poisson", 
                            method = "approximation",
                            model_name = "exponencial")

pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.414
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.299
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.305
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.36
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.447
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.282
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.302
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.301
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.301
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.353
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.313
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.411
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.382
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.48
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.409
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.4
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.396
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.27
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.277
pyswarms.single.global_best: 100%|██████████|500/500, best_cost=0.279

In [13]:
results[4]

array([3.32522683e+04, 3.96251905e+04, 4.74203880e+04, 5.69558180e+04,
       6.86206380e+04, 8.28911763e+04, 1.00350490e+05, 1.21712321e+05,
       1.47850429e+05, 1.79834534e+05, 2.18974329e+05, 2.66873406e+05,
       3.25495310e+05, 3.97244469e+05, 4.85065347e+05, 5.92563926e+05,
       7.24156568e+05, 8.85252416e+05, 1.08247692e+06, 1.32394577e+06,
       1.61960062e+06, 1.98162052e+06, 2.42492630e+06, 2.96779867e+06,
       3.63263602e+06, 4.44688332e+06, 5.44417090e+06, 6.66571053e+06,
       8.16200718e+06, 9.99495771e+06, 1.22404243e+07, 1.49913898e+07,
       1.83618278e+07, 2.24914474e+07, 2.75515136e+07, 3.37519846e+07,
       4.13502664e+07, 5.06619508e+07, 6.20739868e+07, 7.60608380e+07,
       9.32043031e+07, 1.14217831e+08, 1.39976356e+08, 1.71552891e+08,
       2.10263446e+08, 2.57722121e+08, 3.15908723e+08, 3.87251740e+08,
       4.74730156e+08, 5.81998406e+08, 7.13539736e+08, 8.74854413e+08,
       1.07269074e+09, 1.31532863e+09, 1.61292762e+09, 1.97795418e+09,
       2.42570616e+09, 2.97495671e+09, 3.64874473e+09, 4.47534544e+09,
       5.48946189e+09, 6.73368807e+09, 8.26030535e+09, 1.01334884e+10,
       1.24320141e+10, 1.52525880e+10, 1.87139294e+10, 2.29617886e+10,
       2.81751089e+10, 3.45735942e+10, 4.24270047e+10, 5.20665747e+10,
       6.38990372e+10, 7.84238520e+10, 9.62543690e+10, 1.18143827e+11,
       1.45017295e+11, 1.78010910e+11, 2.18520092e+11, 2.68258776e+11,
       3.29332196e+11, 4.04326314e+11, 4.96417705e+11, 6.09508598e+11,
       7.48392808e+11, 9.18959655e+11, 1.12844458e+12, 1.38573711e+12,
       1.70175942e+12, 2.08993155e+12, 2.56674319e+12, 3.15245656e+12,
       3.87197031e+12, 4.75588143e+12, 5.84179067e+12, 7.17590719e+12,
       8.81502131e+12, 1.08289296e+13, 1.33034163e+13, 1.63439192e+13,
       2.00800357e+13, 2.46710644e+13, 3.03128177e+13, 3.72459987e+13,
       4.57665019e+13, 5.62380788e+13, 6.91079130e+13, 8.49257730e+13,
       1.04367565e+14, 1.28264300e+14])

<h1>SIR with beta variante</h1>

In [ ]:
sir = SIR(50000000)

In [ ]:
results = ci.single_core_CI(model = sir, 
                             y = y, 
                             x = x, 
                             ndays = 300,
                             bootstrap = 1, 
                             simulation = "Gamma_Poisson", 
                             method = "approximation",
                             model_name = "SIR")

In [ ]:
fig, axes = plt.subplots(nrows = 1, ncols = 1, figsize = (18,12))
axes.plot(range(340,352), results[5][288:], "--", c = "red")
axes.plot(range(340,352), results[6][288:], "--", c = "red")

In [ ]:
results[4][58] - results[6][6]