In [1]:
import pandas as pd
import numpy as np
from models import SEIRHUD, bootstrapSEIRHUD
from scipy import stats

In [2]:
data = pd.read_csv("https://brasil.io/dataset/covid19/caso/?state=RO&place_type=state&format=csv")
data.head()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-05-31,RO,NaN,state,4942,156,True,1777225,11,278.07396,0.0316
1,2020-05-30,RO,NaN,state,4743,151,False,1777225,11,266.87673,0.0318
2,2020-05-29,RO,NaN,state,4502,145,False,1777225,11,253.31627,0.0322
3,2020-05-28,RO,NaN,state,4252,142,False,1777225,11,239.24939,0.0334
4,2020-05-27,RO,NaN,state,3862,137,False,1777225,11,217.30507,0.0355

In [3]:
model = bootstrapSEIRHUD(tamanhoPop = 1777225)

In [4]:
model.fit(x = range(1,len(data["confirmed"]) + 1),
          y = data["confirmed"],
          d = data["deaths"])

/home/rodriguesms/Hubic/Analise_de_dados/CIDACS/Mathematical-and-Statistical-Modeling-of-COVID19-in-Brazil/inProduction/models.py:75: RuntimeWarning: overflow encountered in exp
  h = 1.0/(1.0+ np.exp(-2.0*50*t))

In [5]:
model.computeCI(2)