In [1]:
import pandas as pd
import numpy as np
from models import SEIRHUD, bootstrapSEIRHUD
from scipy import stats

In [2]:
data = pd.read_csv("https://brasil.io/dataset/covid19/caso/?state=RO&place_type=state&format=csv")
data.head()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-05-31,RO,NaN,state,4942,156,True,1777225,11,278.07396,0.0316
1,2020-05-30,RO,NaN,state,4743,151,False,1777225,11,266.87673,0.0318
2,2020-05-29,RO,NaN,state,4502,145,False,1777225,11,253.31627,0.0322
3,2020-05-28,RO,NaN,state,4252,142,False,1777225,11,239.24939,0.0334
4,2020-05-27,RO,NaN,state,3862,137,False,1777225,11,217.30507,0.0355

In [3]:
model = bootstrapSEIRHUD(tamanhoPop = 1777225)

In [4]:
model.fit(x = range(1,len(data["confirmed"]) + 1),
          y = data["confirmed"],
          d = data["deaths"])

/home/rodriguesms/Hubic/Analise_de_dados/CIDACS/Mathematical-and-Statistical-Modeling-of-COVID19-in-Brazil/inProduction/models.py:75: RuntimeWarning: overflow encountered in exp
  h = 1.0/(1.0+ np.exp(-2.0*50*t))

In [5]:
model.computeCI(2)

In [6]:
model.parameters

,beta1,beta2,gammaH,gammaU,delta,e0,a0,is0
0,0.625951,1.438574,0.237315,0.096747,0.071460,0.000004,0.000004,0.000005
1,0.798446,1.120078,0.212259,0.084080,0.316104,0.000004,0.000004,0.000003

[array([  0.        ,   0.43646646,   0.98020964,   1.57997719,
          2.20111142,   2.8252495 ,   3.49157407,   4.28484906,
          5.174642  ,   6.14322993,   7.18088534,   8.28325318,
          9.4494673 ,  10.68008072,  11.9770038 ,  13.34262452,
         14.77989194,  16.29255104,  17.88385383,  19.55723401,
         21.31856103,  23.16955174,  25.11631697,  27.16436143,
         29.31899619,  31.58548501,  33.96918334,  36.47648029,
         39.11397007,  41.88789262,  44.80570152,  47.87503933,
         51.10315381,  54.49835882,  58.06931032,  61.82513216,
         65.77530874,  69.92997561,  74.31663687,  78.89845232,
         83.73067854,  88.81630771,  94.1631016 ,  99.79105736,
        105.7061011 , 111.92697542, 118.47084426, 125.35454663,
        132.59491586, 140.20932133, 148.21838595, 156.64182137,
        165.53212031, 174.82197656, 184.61671534, 194.92311271,
        205.76173703, 217.16267981, 229.14848393, 241.75448822,
        255.01409158, 268.95983102, 283.62536599, 299.04956122,
        315.27026486, 332.3286126 , 350.26866632, 369.13369968,
        388.97356913]),
 array([  0.        ,   0.45128363,   1.06594432,   1.7883471 ,
          2.59000502,   3.45474837,   4.3728225 ,   5.34006797,
          6.35471556,   7.41623208,   8.52518943,   9.68265583,
         10.89008397,  12.14923161,  13.46208362,  14.83078913,
         16.25809083,  17.74643405,  19.29700166,  20.91416761,
         22.59514111,  24.35501922,  26.18576539,  28.09165552,
         30.07751881,  32.14736237,  34.30518366,  36.55460282,
         38.89924335,  41.34286241,  43.88929467,  46.54342586,
         49.30987594,  52.19303446,  55.22992998,  58.34034443,
         61.59542723,  64.99517838,  68.54086269,  72.23702937,
         76.08971243,  80.10386067,  84.28782096,  88.64569514,
         93.18757986,  97.92175092, 102.85579435, 107.99810585,
        113.35758757, 118.94760656, 124.764418  , 130.83139209,
        137.15465201, 143.74502622, 150.61281776, 157.76913367,
        165.22478197, 172.99513458, 181.09436841, 189.67650564,
        199.41926695, 210.3692109 , 222.54941022, 236.02914955,
        250.91058968, 267.32015676, 285.40339344, 305.3248993 ,
        327.26793239])]